*{
    font-family: 'Montserrat', sans-serif;
}

header{
	background: yellow;
	text-align: center;
	padding: 1em 0em;
	border: 3px dashed black;
}

#content{
	text-align: center;
	/*margin: 1em;*/
	border: 0.1em solid black;
    width: 50%;
    display: block;
    margin: 3% auto;
    padding: 3em;
    background-color: #a9a9a9;

}

p{
	font-weight: bold;
}

.question,
#gameYes,
#gameNo{
	background: yellow;
	font-weight: : bold;
	font-size: 1em;
}

.counter{
	border: 1px solid black;
	width: 50%;
	height: 100px;
	margin: 3% auto;
	background: white;
	vertical-align: middle;

}

#askGame,
#first-question,
#second-question,
#third-question,
#results{
	display: none;
}